# .gitignore 파일

# 빌드 결과
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.pyo

# Visual Studio 파일
.vs/

# 패키지 다운로드
packages/

# 사용자별 파일
*.suo
*.user
*.userosscache
*.sln.docstates

# 유니티 파일
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/

# 로그 파일
*.log

# OS 생성 파일
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
